<%= render(partial: 'layouts/sidebar',locals: {book: @book}) %>
<h2></h2>
<table>
  <% @books.each do |book| %>
    <% user = User.find(book.user_id) %>
    <tr>
      <td><%= user.name %></td>
    </tr>
  <% end %>
</table>