<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class="mx-auto col-12 col-sm-6">welcome to <i class="fas fa-book"></i>Bookers !!</h1>
  </div>
  <div class="row justify-content-center">
      <p class="mx-auto col-12 col-sm-6">
        In <i class="fas fa-book"></i>Bookers,<br>
        you can share and exchange your opinions, impressions and emotions<br>
        about various books!
      </p>
  </div>
  <div class="row">
    <%= link_to("Log in",new_user_session_path,class: "btn btn-primary mb-3 mx-auto col-9 col-sm-5") %>
  </div>
  <div class="row">
    <%= link_to("Sign up",new_user_registration_path,class: "btn btn-success mb-3 mx-auto col-9 col-sm-5") %>
  </div>

</div>