<h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
<div>
  <p>
    In <i class="fas fa-book"></i>Bookers,<br>
    you can share and exchange your opinions, impressions and emotions<br>
    about various books!
  </p>
  <div>
    <%= link_to("Log in",new_user_session_path) %>
  </div>
  <div>
    <%= link_to("Sign up",new_user_registration_path) %>
  </div>

</div>